<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

    <display-name>
        XML Filter Server
    </display-name>
    <description>
        Offers XML filter services through REST web services
    </description>

    <!--servlets-->

    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <description>Handles the 'view' call</description>
        <servlet-class>com.main.server.ViewServlet</servlet-class>
    </servlet>

    <!--servlet mappings (I'm hoping order matters)-->

    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>

    
    <!--
    login
    http://localhost:9091/xml-filter/login      ?user="John"&pass="secret"
                   authToken <-

    (&authToken="1kjh123jh") will be required on all following methods

    view
    http://localhost:9091/xml-filter/view       ?page=2
                    page 2 <-
    search
    http://localhost:9091/xml-filter/search     - POST with JSON search criteria       (optional page)
                    page 1 of search

    update
    http://localhost:9091/xml-filter/update     ?page       -POST with JSON string page content

    todo use a welcome-file
    
    -->

    <!--filters-->

    <filter>
        <filter-name>Logging Filter</filter-name>
        <filter-class>com.main.server.filter.LoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Logging Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>/pages/index.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>DMOZ_DATA_FILE</param-name>
        <param-value>\data\rss.rdf.u8</param-value>
        <description>The DMOZ data file used for XML operations (decompressed)</description>
    </context-param>

</web-app>